#team2134 Root

Redirect /members/ http://members.team2134.com/
Redirect /wiki/ http://wiki.team2134.com/
Redirect /api/ http://api.team2134.com/
Redirect /svn/ http://svn.team2134.com/
Redirect /docs/ http://docs.team2134.com/

Options +FollowSymlinks
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9_-]+)$ /index.php?perm=$1 [NC]

RewriteRule ^jslibrary.inc jslib.php
